

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    

    <title>Hotel SS-IMGA</title>
</head>
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
<body class="body">
    <main>
        <div class="logIn">
            <div class="logInUp">
                <img src="~/img/ss.png" alt="" class="logoSigmy">
            </div>
            <div class="logInDown">
                <form action="">
                    <label for="" class="mail">Email</label>
                    <input type="email" class="mailLogIn" placeholder="Podaj adres email">
                    <label for="" class="mail">Password</label>
                    <input type="email" class="PasswordLogIn" placeholder="Podaj hasło">
                    <button class="SignIn">Sign In</button>
                    <div class="links">
                        <a href="~/ForgotPassword">Forgot password?</a>
                        <a href="~/Register">Create new account</a>
                    </div>
                         
                </form>
               
                <button class='google' onclick="googleLogin()">Zaloguj się z Google</button>
            

            </div>
        </div>
    </main>
</body>
</html>