<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel SS-IGMA</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body class="mainContent">
    <header>
        <div class="listLeft">
            <ul class="ulMain">
                <li class="mainList">O NAS</li>
                <li class="mainList">POKOJE</li>
                <li class="mainList">GALERIA</li>
            </ul>
        </div>
        <!-- <div class="logoSigmy">

        </div> -->
        <img src="~/img/ss.png" alt="" class="logoSigmy">
        <div class="listRight">
            <ul class="ulMain">
                <li class="mainList">STRONA GŁÓWNA</li>
                <li class="mainList">REZERWACJA</li>
                <li class="mainList">DOŚWIADCZENIE</li>
            </ul>
        </div>
    </header>
    <main class="background">

        <div class="mainReservation">
            <h1 class="h1">REZERWACJA</h1>

            <form action="" class="mainForm">
                <!-- <div class="mainDate"> -->
                <div>
                    <label for="">DATA PRZYJAZDU</label>
                    <input type="date" class="form-input">
                </div><div>
                    <label for="">DATA ODJAZDU</label>
                    <input type="date" class="form-input">
                </div>
                <!-- </div>
                <div class="mainDate"> -->
                <div>
                    <label for="">ILOŚĆ OSÓB</label>
                    <input type="number" class="form-input">
                </div> <div>
                    <label for="">ILOŚĆ POKOI</label>
                    <input type="number" class="form-input">
                </div>
                <!-- </div> -->
                <button class="book">REZERWUJ</button>
            </form>
        </div>



    </main>
</body>
</html>