@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel SS-IGMA</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body class="adminPanel">
    <main>
        <div class="box">
            <div class="leftPanel">
                <div class="Up">
                    <img src="~/img/ss.png" alt="" class="logoSigmy">
                </div>
                <div class="Down">
                    <ul>
                        <li><a href="" class="adminList">Dashboard</a></li>
                        <li><a href="" class="adminList">Main Menu</a></li>
                        <li><a href="" class="adminList">QR Code</a></li>
                        <li><a href="" class="adminList">Booking</a></li>
                        <li><a href="" class="adminList">Baza danych</a></li>
                    </ul>
                </div>

            </div>

            <div class="rightPanel">

                <div class="info">
                    <p>100</p>
                    <p>Zarezerwowanych pokoi</p>
                </div>

            </div>
        </div>
    </main>
</body>
</html>