@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Użytkownika</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
</head>
<body>
    <header class="userProfile">
        <img src="~/img/ss.png" alt="logo">
    </header>
    <main>
        <h1 class="profile-text">Witaj na swoim koncie <span class="profileName">szefiku</span></h1>
        <div class="profileBox">
            <div class="leftProfile">
                <ul>
                    <li><a href="">Moje konto</a></li>
                    <li><a href="">Historia rezerwacji</a></li>
                    <li><a href="">Usługi dodatkowe</a></li>
                </ul>
            </div>
            <div class="RightProfile">
                <h2>Twoje dane</h2>
                <p>Imię: <span>Tu wstawiamy z bazy</span></p>
                <p>Nazwisko: <span>Tu wstawiamy z bazy</span></p>
                <p>Email: <span>Z bazy</span></p>
                <p>Hasło: CHUJ CIE TO</p>

                <!-- Mozna dodać jakieś bzdety byle by były jakieś informacje o osobie z bazy -->

                <h2>Historia rezerwacji</h2>
                <p>Rezerwacja dnia: <span>cos wymyslimy</span></p>

                <h2>Usługi</h2>
                <p>
                    W sprawie usług prosimy naszych użytkowników o kontakt drogą telefoniczną
                    0700 666 21
                </p>
            </div>
        </div>


    </main>
</body>
</html>