@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel SS-IMGA</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>

<body class="body">
    <main>
        <div class="logIn">
            <div class="logInUp">
                <img src="~/img/ss.png" alt="" class="logoSigmy">
            </div>
            <div class="logInDown">
                <form action="">
                    <label for="">First Name</label>
                    <input type="text" class="registerName styleInput" placeholder="Podaj imię">

                    <label for="">Last Name</label>
                    <input type="text" class="registerSurName styleInput" placeholder="Podaj nazwisko">

                    <label for="">Email</label>
                    <input type="email" class="registerMail styleInput" placeholder="Podaj email">

                    <label for="">Password</label>
                    <input type="password" class="registerPassword styleInput" placeholder="Podaj hasło">

                    <label for="">Repeat Password</label>
                    <input type="password" class="registerPasswordRepeat styleInput" placeholder="Powtórz hasło">

                    <div class="buttons">
                        <button class="RegisterButton">Register</button>
                        <button class="LoginIn"><a href="~/Login">Login in</a></button>
                    </div>

                    <div class="links">
                        <a href="~/ForgotPassword">Forgot password?</a>

                    </div>
                </form>

                <script src="/js/site.js"></script>
            </div>
        </div>
    </main>
</body>
</html>