@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel SS-IMGA</title>
</head>
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
<body>
    <main>
        <div class="logIn">
            <div class="logInUp">
                <h1>LOGO</h1>
            </div>
            <div class="logInDown">
                <form action="">
                    <label for="" class="mail">Email</label>
                    <input type="email" class="mailLogIn" placeholder="Podaj adres email">
                    <button class="ResetPasswd">Reset</button>

                    <p class="forgotPass"></p>

                    <!-- W TYM PARAGAFIE TRZEBA DODAC "HASLO ZRESETOWANO" W JAVASCRIPTCIE NIE ZADZIALA, BO
                    FORMULARZ ODSWIEZA STRONE PO BUTTONIE -->

                    <a href="log.html">Back to Login</a>

                </form>


            </div>
        </div>
    </main>

</body>
</html>