@model IEnumerable<Hotel.Data.Room>

  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Dodaj Pokój</title>
      <link rel="stylesheet" href="/css/style.css">
      
  </head>
  <body class="addRoomBody">
     
      <form asp-action="DodajPokoj" method="post" class="formAddRoom">
        <h1>Dodaj Pokój</h1>
          <label for="RoomNumber">Numer pokoju:</label>
          <input type="number" id="RoomNumber" name="RoomNumber" required /><br />
  
          <label for="Floor">Piętro:</label>
          <input type="number" id="Floor" name="Floor" required /><br />
  
          <label for="Status">Status:</label>
          <select id="Status" name="Status" required>
              <option value="wolny">Wolny</option>
              <option value="zajęty">Zajęty</option>
          </select><br />
  
          <button type="submit">Dodaj Pokój</button>
      </form>
  
      <hr />
    <section class="sectionAddRoom">
      
      <hr>
      <table border="1">
          <thead>
              <tr>
                  <th>Numer</th>
                  <th>Piętro</th>
                  <th>Status</th>
              </tr>
          </thead>
          <tbody>
              @foreach (var room in Model)
              {
                  <tr>
                      <td>@room.RoomNumber</td>
                      <td>@room.Floor</td>
                      <td>@room.Status</td>
                  </tr>
              }
          </tbody>
      </table>
      </section>
  </body>
  </html>
  